:root {
  --poolsideBlue: #89c5cc;
  --darkBlue: #1f1534;
  --whiteVariation: #f9f9f9;
  --green: #69b99d;
  --greenForHover: #53967e;
  --grey: #7d7987;
}

html,
body {
  margin: 0;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  font-weight: 400;
  line-height: 56px;
  width: 489px;
  color: var(--darkBlue);
}

h1 span {
  color: var(--poolsideBlue);
  font-weight: 700;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: var(--grey);
  margin: 40px 0;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

ul li a {
  font-size: 18px;
  font-weight: 400;
  color: var(--darkBlue);
  text-decoration: none;
}

ul li a:hover {
  font-weight: 700;
}

.btn-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--whiteVariation);
  background: var(--green);
  border: 0;
  height: 56px;
  padding: 14px 32px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-whatsapp:hover {
  background: var(--greenForHover);
}

#footer {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

#footer a {
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: 700;
}

.balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
